@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test {
  display: flex;
  align-items: center;
  /* width: 100vw; */
  justify-content: space;
}

.drop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carousel-caption {
  right: auto !important;
  top: 40%;
  text-align: start !important;

}

.carimage {
  background-size: cover;
}


@media only screen and (max-width: 960px) {
  .test {
    width: 100vw;
    justify-content: space-between;
  }
  .carimage {
    background-size:cover;
    background-position: center;
    height: 45vh;
  }

}
